@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik');



h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    color: #1E1E1E;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #0E0E0E;
    background-color: #C0C0C0;
}

.feed {

}

.jumbotron {
    background-color: #FFFFFF;

}

.btnpadding {
    margin-top: 10px;
    background-color: #32966F;
    border: none;
    color: #FFFFFF;
}

.card-img-left {
    margin-right: 10px;
    width:250px;
}

.card-float-left {
    float: left;
}

.cardhdr {
    background-color: #32966F;
    color: #FFFFFF;
}

.cardbdy {
    background-color: #FFFFFF;
}

.customnavbar {
    background-color: #32966F;
    color: #FFFFFF;
}

.navbar-brand, .nav-item{
    color:white;
}